section {
  background: black;
}

.hero {
  width: 49%;
  display: inline-block;
}

@media (max-width:735px) {
  .sm-screen {
    display: none;
  }
}

@media (max-width:1068px) {
  .lg-screen {
    display: none;
  }
}